.adventures-list {
  display: block;
}

.adventures-list ul {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: normal;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.block-error {
  border-left: solid red 5px;
  padding-left: 1em;
}
